<a href="https://colab.research.google.com/github/lordpitipat/Transfer-learning-with-MobileNetV2/blob/master/MobleNetV2_predict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from tensorflow.keras.models import load_model 
from tensorflow.keras.preprocessing.image import ImageDataGenerator
import numpy as np
import pandas as pd

In [ ]:
predict_dir = '/content/drive/My Drive/Grocery classification/test/'

datagen = ImageDataGenerator(rescale=1./255)

gen = datagen.flow_from_directory(predict_dir,
                                  target_size=(224, 224),
                                  shuffle = False,
                                  class_mode='categorical',
                                  batch_size=1)

Found 12192 images belonging to 1 classes.

In [ ]:
file_name = {'file_name':gen.filenames}
predicted = pd.DataFrame(data=file_name)
predicted.head()

                                   file_name
0  test/0004b03ad7eabfb3989727c461310a84.jpg
1  test/0004d34271d0a0253f8a95d0746bae05.jpg
2  test/000d4ad3d0a372fd6eea2fee6bf738ef.jpg
3  test/0012f125ad07123e69468ae1d1d59de4.jpg
4  test/0015831b249b856e569e883a9dc6d4fa.jpg

In [ ]:
predicted['file_name'] = predicted['file_name'].str[5:]
predicted.head()

                              file_name
0  0004b03ad7eabfb3989727c461310a84.jpg
1  0004d34271d0a0253f8a95d0746bae05.jpg
2  000d4ad3d0a372fd6eea2fee6bf738ef.jpg
3  0012f125ad07123e69468ae1d1d59de4.jpg
4  0015831b249b856e569e883a9dc6d4fa.jpg

In [ ]:
model = load_model('/content/drive/My Drive/Shopee data/model_save.h5')
result = model.predict(gen)
result

array([[8.22651375e-04, 1.96039735e-04, 6.53109106e-04, ...,
        6.73282566e-03, 3.46524874e-04, 3.96853313e-03],
       [2.51854360e-02, 2.53244638e-02, 1.42498838e-03, ...,
        6.43584505e-03, 2.65925337e-04, 2.86742207e-02],
       [9.15579130e-06, 3.09673669e-06, 6.64430438e-04, ...,
        7.05687106e-01, 3.36004496e-02, 1.89018133e-03],
       ...,
       [1.01134683e-05, 5.35053732e-06, 1.88247600e-06, ...,
        5.06353681e-04, 6.81195990e-04, 1.61233149e-03],
       [1.18408370e-05, 8.77126240e-06, 1.67946873e-05, ...,
        1.06260904e-05, 5.95531492e-06, 7.26943335e-06],
       [4.14443342e-03, 3.87396358e-05, 2.43805451e-04, ...,
        1.45739075e-02, 3.58915771e-03, 1.13478638e-01]], dtype=float32)

In [ ]:
classes = result.argmax(axis=-1)
classes

array([12, 31, 39, ..., 10, 16, 12])

In [ ]:
predicted['class'] = classes

In [ ]:
predicted

                                  file_name  class
0      0004b03ad7eabfb3989727c461310a84.jpg     12
1      0004d34271d0a0253f8a95d0746bae05.jpg     31
2      000d4ad3d0a372fd6eea2fee6bf738ef.jpg     39
3      0012f125ad07123e69468ae1d1d59de4.jpg     22
4      0015831b249b856e569e883a9dc6d4fa.jpg     24
...                                     ...    ...
12187  ffef3b0e7505855ba5794ebab9aff719.jpg      9
12188  ffef86f7872cd020992e00b7cf6585c7.jpg     41
12189  fff8fdfc178e3e94414fc10c69271f88.jpg     10
12190  fff9ee1d7f920b920dd603631d24bc07.jpg     16
12191  fffb6700a1f0e34254d508cd5f125180.jpg     12

[12192 rows x 2 columns]

In [ ]:
predicted.to_csv('/content/drive/My Drive/Shopee data/predict_1.csv')